html {
  margin: 0;
  background: #333;
}

body {
  margin: 0px;
  padding: 0;
  font-family: Helvetica, Arial;
  color: #000;
}

a {
  color: #BD0026;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(219, 55, 40);
}

div#infoback {
  position:absolute; top: 0; right: 0;
  bottom: 0; width: 360px; background:#2A0A0A;
  opacity:0.8;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

div#collapse {
  position:absolute; top: 0; right: 131px;
}

div#info { 
  margin: 132px 72px;
}

div#info h2 { 
  margin-bottom: 0px;
}

.leaflet-container {
  background: #000;
  outline: 0;
}

#map {   
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%;
}

.leaflet-popup-content {
  color: #333;
}

.leaflet-popup-content h2{
  margin: 0;
}

.disclaimer {
  font-size: 0.7em;
}

/* NO UI SLIDER */
.slider-box {
    bottom: 0;
    left: 0;
    padding: 6px 8px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 4px;
    cursor: default;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: grey;
    height: 8px;
    width:250px;
    cursor: pointer;

}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: ew-resize;
}
/* Timeline Date Range */
.week {
    text-align: left;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 4px;
    color: black;
}

/* info block */
.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.stack {
    margin: 45px -18px;
}
.trigger {
  z-index: 2000;
  position: absolute;
  left: 0px;
  top:50%;
  margin-top: -54px;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color:rgba(255,255,255,.7);
}
.block {
  z-index: 2000;
  position: absolute;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color:rgba(255,255,255,.7);
  fon
}
.block h4 {
  margin: 10px;
}
.block p {
  margin: 10px;
}
.disclaimer {
  font-size: 0.7em;
}
.legend {
  height: 230px;
  padding: 15px 10px 10px 10px;
}
.sizeref {
  height: 180px;
}
.yearref {
  height: 80px;
}
